.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  form {
    padding: 24px 20px;
    background-color: #fff;
    border-radius: 6px;
    width: 408px;
    box-shadow: 0px 0px 30px 0px #0129701a;
    .label {
      text-align: center;
      color: #012970;
      font-size: 24px;
      font-weight: 500;
    }
    p {
      color: #212529;
    }
  }
}
