nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0px 2px 20px 0px #0129701a;
  position: relative;
  z-index: 999;
  .user {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    cursor: pointer;
    padding: 0 20px;
    color: #012970;
  }
}
