.side-bar {
  background-color: #fff;
  height: 100vh;
  box-shadow: 0px 0px 20px 0px #0129701a;
  position: relative;
  padding: 20px 0;
  .show-hide {
    position: absolute;
    top: 30px;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(100%);
    background-color: #fff;
    font-size: 18px;
    padding: 5px;
    border-radius: 0 5px 5px 0;
    box-shadow: 0px 0px 20px 0px #0129701a;
    cursor: pointer;
    color: #012970;
  }
  ul {
    li {
      list-style: none;
      padding: 8px 30px;
      margin: 6px 0;
      transition: 0.3s;
      &.active {
        transform: translateX(10px);
        a {
          font-size: 17px;
          font-weight: 700;
        }
      }
      &:hover {
        transform: translateX(10px);
        a {
          font-size: 17px;
          font-weight: 700;
        }
      }
      a {
        display: flex;
        align-items: center;
        gap: 8px;
        text-decoration: none;
        color: #012970;
        font-weight: 600;
        font-size: 16px;
      }
    }
  }
}
.side-bar.hide {
  li {
    margin-top: 10px;
    &.active {
      transform: translateX(10px);
      a {
        font-size: 17px;
        font-weight: 700;
      }
    }
    &:hover {
      transform: translateX(10px);
      a {
        font-size: 17px;
        font-weight: 700;
      }
    }
  }
  img {
    width: 20px;
  }
}
