@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
body {
  margin: 0;
  padding: 0;
  background-color: #f1f4fb;
  height: 100vh;
  overflow: hidden;
}
.font-montserrat {
  font-family: "Montserrat", sans-serif;
}
.font-nunito {
  font-family: "Nunito", sans-serif;
}
.font-poppins {
  font-family: "Poppins", sans-serif;
}
.font-open-sans {
  font-family: "Open Sans", sans-serif;
}
.scroll {
  height: 90vh;
  overflow-y: scroll;
}
.primary {
  color: #0d6efd;
}
.primary-button {
  background-color: #0d6efd;
  color: #fff;
  border: none;
  display: block;
  width: 100%;
  padding: 10px 0;
  border-radius: 6px;
  margin: 15px 0;
}
body a {
  text-decoration: none;
}
